# Launcher-level
## Base directory override (will also affect wrapper and modloader).
# LAUNCHER_ROOT="."

## Default profile if CLI not provided.
# LAUNCHER_PROFILE="vanilla"

# Injection layer (read by wrapper.dll)
## Wait until debugger attaches.
# WRAPPER_WAIT_DEBUGGER=1

## Default wrapper log file path.
# WRAPPER_LOG="wrapper_log.txt"

## Load mods but don’t apply binary patches (script-only testing).
# TODO: Implement
# WRAPPER_DISABLE_PATCHES=1

# Modloader-level
## Pass resolved mod list (avoids recomputing inside DLL).
# MODLOADER_LOAD_ORDER=<serialized> # Example: modA@1.2.0;modB@0.9.1;modC@3.0.0

## Default modloader log file path.
# MODLOADER_LOG="mod_log.txt"

# Debug/ development
## Enables verbose logging implicitly.
# WRAPPER_VERBOSE=3

## Enables verbose logging implicitly.
# WRAPPER_DEBUG=1

## Enables trace logging implicitly.
# WRAPPER_TRACE=1

## Enables verbose logging implicitly.
# MODLOADER_DEBUG=1

## Enables trace logging implicitly.
# MODLOADER_TRACE=1
