# Binary artifacts
*.obj
*.o
*.dds
*.res
*.rc
*.ico
*.png
*.webp
*.bin
/build*

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*
!.vscode/settings.json

# Vim related
*~
*.swp
*.swo

/compile_commands.json
/cccaster
/broken.txt
**/*.exe
/compile_commands.tmp
